<div class="contents row" >
    <!--bootstrapでのプルダウンリンク-->
    <!--<div class="dropdown show">-->
    <!--  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--    投稿を並べ替え-->
    <!--  </a>-->
    
    <!--  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
    <!--    <a class="dropdown-item" href="/tools/<%= params[:id] %>">投稿が新しい順</a>-->
    <!--    <a class="dropdown-item" href="/tools/<%= params[:id] %>/ranking">いいね！ランキング順</a>-->
    <!--  </div>-->
    <!--</div>-->
        <ul class="nav">

      <li><a href="#">投稿を並び替えする</a>
        <ul>
          <li><a href="/">投稿が新しい順（<%= @tool.name %>）</a></li>
          <li><a href="/tools/<%= params[:id] %>/ascendant">投稿が古い順（<%= @tool.name %>）</a></li>
          <li><a href="/ranking">いいね！ランキング順（<%= @tool.name %>）</a></li>
        </ul>
      </li>
    </ul>
    
    <span>　　カテゴリ：<%= @tool.name %></span>


     <%= render partial: "posts/posts" %>
     
     <%= paginate(@posts) %>
  
</div>
  