<div class="contents row" >

        <ul class="nav">

      <li><a href="#">投稿を並び替えする</a>
        <ul>
            
            
          <li><a href="/tools/<%= params[:id] %>">投稿が新しい順（<%= @tool.name %>）</a></li>
          <li><a href="/tools/<%= params[:id] %>/ascendant">投稿が古い順（<%= @tool.name %>）</a></li>
          <li><a href="/tools/<%= params[:id] %>/show_ranking">いいね！ランキング順（<%= @tool.name %>）</a></li>
        </ul>
      </li>
    </ul>
    
     <span>カテゴリ：<%= @tool.name %></span>


     <%= render partial: "posts/posts" %>
       
 

  </div>
  
  
    <%= paginate(@posts) %>
  
</div>