<h2>お問い合わせ</h2>

<%= form_tag("/users/inquiry_send", method: "post") do %>
    
    <%  if current_user %>
        <%  nickname = current_user.nickname%>
        <%  email = current_user.email%>
    <% end %>
    
    <%= label_tag(:name, "お名前" )%>
    <%= text_field_tag :name ,  user.nickname%>
    
    <%= label_tag(:email, "返信用アドレス" )%>
    <%= text_field_tag :email ,user.email %>
    
    <%= label_tag(:text, "問い合わせ内容") %>
    <%= text_area_tag :text %>

  
  
  <%= submit_tag("送信") %>
<% end %>