<div class ="introduction_and_recentcomment">
    
    <div class="div_your_icon_image"><%= image_tag @user.avatar ,:class => "your_icon_image" %></div>
    <br>
    <p class= "fukidashi"><%= @user.nickname %>さんの自己紹介<br><br>
    <%= @user.introduction %></p>
    <br>
   
    
    <br>
    
    <% if user_signed_in? && current_user.id == @user.id %>
     <p class="mannnaka"><%=link_to "ユーザー登録情報を変更する",edit_user_path, method: :get %></p>
    <% end %>
   
    <br>
    <p class="mannnaka"><%= @user.nickname %>さんの投稿一覧</p>
       
       <%= render partial: "posts/posts" %>
       
       
     
       
       
       
 </div>
 
</div>