<div class="content_row">
  <p><h3>管理者ページ親カテゴリーを増やす☆</h3></p>
      <br>
  
  <div class="container">
    <%= form_for @oyacategory do |f| %>
      <div class="field">
    
        <%= f.label :name, "親カテゴリー名" %>
        <%= f.text_field :name , :size => "50"%>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      
      </div>
  



   <div class="actions">
    <%= f.submit %>
   </div>
    <% end %>
  </div>
</div>









