<% if user_signed_in? %>
  
    <% if post.like_user(current_user.id) %>
 

        <!--rake routesでpost_like_pathを見る限りpost_idとlike_idを渡さなければいけない。
        post.like_userはlikeモデルのインスタンスを返し、：のキーを付ける必要ない-->
        <%= button_to post_like_path(post.like_user(current_user.id), post_id: post.id), 
        method: :delete,id: "like-buttons",class: "like-button_already", remote: true do%>  
        
            
    <% end %>
    <% else %>
 
      <!--button＿toメソッドはデフォルトでpostメソッドhtmlを行う-->
        <%= button_to post_likes_path(post), id: "like-buttons",class: "like-button_yet", remote: true do%>
          
      

    
    <% end %>
    <% end %>
    
  <br>  
    
  <p>いいね！数：<%= post.likes_count %></p> <p>  コメント数：<%= post.comments_count %></p>
 
<% else %>


  <%= image_tag '/uploads/tmp/iineicon.png', :size =>'50x50' %>
  <p>いいね！数：<%= post.likes_count %></p> <p>  コメント数：<%= post.comments_count %></p>  
     
    
<% end %>