 <!--<div class="content_post" style="background-image": url(<);>-->

    <% @posts.each do |post| %>
  
  
      
    <div class="render_post">
    
 
    
     
    <div class="post_head_foot">
      <%  dt = post.created_at %>
      <p>投稿日時：<%= dt.strftime("%Y年%m月%d日 %H時%M分")%></p>
      
      <%= link_to "#{post.title}",  post_path(post.id) , id:"posts_title"%>
      <br>
      
    
      <span>
        <% if post.user.avatar_file_name%>
            <div class="poster_image"><%= image_tag post.user.avatar ,:class => "your_icon_image" %></div>
        <%else%>
            <div class="poster_image"><%= image_tag "/images/neko_free.jpg" ,:class => "anonimous_image" %></div>
        
        <%end%>
        
        <p>投稿者:<%= link_to "#{post.user.nickname}", user_path(post.user.id)  %></p>
      </span>
    
    </div>
    
    <br>
    
    
    
    <!--取得したimagetextsのレコードはなぜか配列に入っているらしい。なので書き方は[0]を付けてあげないといけない-->
     <% imar = []%>
        <% post.imagetexts.each do |im| %>
            <% imar << im.image.url %>
        <% end %>
        
        <% imar = imar.compact %>
        <% if imar.blank? %>
            <%=  image_tag ("/images/gazounaiyo.png"), :size => "300x60" %> 
            
        <% else %>
         
            <%=  image_tag imar.first, :size => "200x200", :class => "postsumbnail"%> 
         
        <% end %>
         
     
   
    
     <% if post.imagetexts(status:0)[0] %>
    
     
     <p><%= post.imagetexts(status:0)[0].content[0,400] + "..." %></p>
    
     <% end %>
   
    
    

    
    
    
    
     
    <div class="post_head_foot">
    <p><h3><%= link_to '投稿の詳細はこちら', "/posts/#{post.id}", method: :get %></3></p>
    
    
    <!--#twitter共有ボタン-->
    <div class="twitter">
        　<a href="//twitter.com/share" class="twitter-share-button" data-text="<%= post.title %>" data-url="https://mintoo-nobutaka0101.c9users.io/posts/<%= post.id %>" data-lang="ja">
         Tweet
         </a>
    </div>
    
        
       <div id ="likes_button_<%= post.id %>">  
        
       <%= render partial: "posts/like", locals: { post: post } %>
       
       </div>
       
    </div>
    
    </div>
    
  <% end %>
