 <!--<div class="content_post" style="background-image": url(<);>-->

    <% @posts.each do |post| %>
  
  
      
    <div class="render_post">
    
 
    
    
    <div class="post_head_foot">
      <p>投稿日時：<%= post.created_at%></p>
      
      <%= link_to "#{post.title}",  post_path(post.id) , id:"posts_title"%>
      <br>
      
    
      <span>
        <% if post.user.avatar_file_name%>
            <div class="poster_image"><%= image_tag post.user.avatar ,:class => "your_icon_image" %></div>
        <%else%>
            <div class="poster_image"><%= image_tag "/images/neko_free.jpg" ,:class => "anonimous_image" %></div>
        
        <%end%>
        
        <p>投稿者:<%= link_to "#{post.user.nickname}", user_path(post.user.id)  %></p>
      </span>
    
    </div>
    
    <br><br><br><br><br>
    
    
    
    <!--取得したimagetextsのレコードはなぜか配列に入っているらしい。なので書き方は[0]を付けてあげないといけない-->
    <% if post.imagetexts(status:0)[0] %>
    
    
     <%=  image_tag post.imagetexts(status:0)[0].image, :size => "400x400", :class => "postsumbnail"%> 
     
     <% else %>
     
     <%=  image_tag ("/images/gazounaiyo.png"), :size => "300x60" %> 
     
     
     <% end %>
     
     <br><br>
    
    
     <% if post.imagetexts(status:0)[0] %>
    
     
     <p><%= post.imagetexts(status:0)[0].content[0,400] + "..." %></p>
    
     <% end %>
   
    
    

    <br><br><br>
    
    
    
     
    <div class="post_head_foot">
    <p><h3><%= link_to '投稿の詳細はこちら', "/posts/#{post.id}", method: :get %></3></p>
    

    <br><br>
    
    
       <%= render partial: "posts/like", locals: { post: post } %>
    </div>
    
    </div>
    
  <% end %>
