 <!--<div class="content_post" style="background-image": url(<);>-->

    <% @posts.each do |post| %>
  
  
      
    <div class="render_post">
    
 
  
    <p>投稿日時：<%= post.created_at%></p>
    
    <h3>タイトル:<%= post.title%></h3>
    <br>
    
    <span>
      <div class="poster_image"><%= image_tag post.user.avatar ,:class => "your_icon_image" %></div>
      <p>投稿者:<%= post.user.nickname  %></p>
    </span>
    <br>
    <br>
    
    <!--コントローラーでuserとimagetextsをincludeしたら表示できた。eachの書き方とインスタンス変数post．image textsの書き方もこれでいいらしい-->
    <% post.imagetexts.each do |imagetexts|%>
    
     <%= render partial: "modal", locals: { imagetexts: imagetexts} %> 
     
    <br>
    
    <%= simple_format(imagetexts.content)%>
    <br>
    <br>
    
    <% end %>
    
    
    <% if post.youtube %>
    <%= youtube(post) %>
    <% end %> 
     
    
    <%= link_to '投稿の詳細！', "/posts/#{post.id}", method: :get %>
    
    <% if user_signed_in? && post.user_id == current_user.id %>
    
      <%= link_to '投稿を削除する', "/posts/#{post.id}", method: :delete %>

    <% end %>
    

    
    
       <%= render partial: "like", locals: { post: post } %>
    
    </div>
    
  <% end %>
