  <div class="render_post">
    
 
  
    <div class="post_head_foot">
      <p>投稿日時：<%= @post.created_at%></p>
      
      <h3>タイトル:<%= @post.title%></h3>
      <br>
      
      
      <span>
        <div class="poster_image"><%= image_tag @post.user.avatar ,:class => "your_icon_image" %></div>
        <p>投稿者:<%= link_to "#{@post.user.nickname}", user_path(@post.user.id)  %></p>
      </span>  
    
    </div>
    
        <br><br>
        
 <%#コントローラーでuserとimagetextsをincludeしたら表示できた。eachの書き方とインスタンス変数post．image textsの書き方もこれでいいらしい%>
    <% @post.imagetexts.each do |imagetexts|%>
    
      
      
      <%= simple_format(imagetexts.subtitle, :class => "subtitle")  if !imagetexts.subtitle.blank? %>
    
     
      
    
      <%= render partial: "posts/modal", locals: { imagetexts: imagetexts}  if !imagetexts.image.blank?%>
    
    
    
      <%= simple_format(imagetexts.content, :class => "content")  if !imagetexts.content.blank?%>
      
      <br>
    
    <% end %>

    <% unless @post.youtube.blank? %>
    <%= youtube(@post) %>
    <% end %>
    
    
 
    
    <% if user_signed_in? && @post.user_id == current_user.id %>
    
      <br><br>
    
      <h3><%= link_to '投稿を削除する', "/posts/#{@post.id}", method: :delete,  data: { confirm: '削除しますか？' } %></h3>

      <br>
    
      <h3><%= link_to '投稿を編集する', "/posts/#{@post.id}/edit"  %></h3>


    <% end %>
    
     <!--#twitter共有ボタン-->
    <div class="twitter">
        　<a href="//twitter.com/share" class="twitter-share-button" data-text="<%= @post.title %>" data-url="https://mintoo-nobutaka0101.c9users.io/posts/<%= @post.id %>" data-lang="ja">
         Tweet
         </a>
    </div>
    
    
    
       <div id ="likes_button_<%= @post.id %>">  
        
         <%= render partial: "posts/like", locals: { post: @post } %>
       
       </div>
  
  
  
  
    
  </div>
  
   <div class="comment_container"> 
   
   
    
   
    <!--ここからコメント-->
    
    
       <%= render partial: "posts/comments" %>
    
   
    
   
    
  </div>
</div>