  <div class="render_post">
    
 
  
    <p>投稿日時：<%= @post.created_at%></p>
    
    <h3>タイトル:<%= @post.title%></h3>
    <br>
    
    <span>
      <div class="poster_image"><%= image_tag current_user.avatar ,:class => "your_icon_image" %></div>
      <p>投稿者:<%= @post.user.nickname  %></p>
    </span>
    <br>
    <br>
    
    <!--コントローラーでuserとimagetextsをincludeしたら表示できた。eachの書き方とインスタンス変数post．image textsの書き方もこれでいいらしい-->
    <% @post.imagetexts.each do |imagetexts|%>
    
    <%= image_tag(imagetexts.image) %>

    <br>
    
    <%= simple_format(imagetexts.content)%>
    <br>
    <br>
    
    <% end %>
    
 
    
    <% if user_signed_in? && @post.user_id == current_user.id %>
    
      <%= link_to '投稿を削除する', "/posts/#{@post.id}", method: :delete %>

    <% end %>
    
  </div>
  
   <div class="container"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
    
    <!--ここからコメント-->
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
        <div class="comment clearfix">
        <p>
          <div class="poster_image"><%= image_tag comment.user.avatar ,:class => "your_icon_image" %></div>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
          <%= comment.text %>
        </p>
        </div>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>