<!DOCTYPE html>
<html>
<head>
  <title>みんなのツールボックス</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


</head>

<!--ボディ本文-->

<body>


  <!--ヘッダー-->
  
  <header class="header">
      
      
      
      
      <%= link_to root_path,  class: "title"  do %>
        <%= image_tag "/images/mintoo_title_logo2.png" %>
      <% end %>
      <%#ユーザーがサインインしてる場合%>
      
      
     
        
      
  </header>
  
  
  
  
  
  
  <div id="oyabody ">
    
    
 
        
   <!--メニュー左端-->
    <div id="menu">
      
      <h2>カテゴリー</h2>
      <div id="menu_body">
        
        <div id="container"></div>
        
          <div class="treemenu">
          
 
          <% $oyacategories.each.with_index(1) do |o,index| %>
          

           <div class="category_color<%=index%>">
            
            <p class="lv1btn"><%= $o %>
              
              <%= o.name %> (<%= o.posts_counts  %>) 
              
              
              
            </p>
             
           
            
            <div class="lv1body">
            
            <% $categories.where(oyacategory_id: o.id).each do |c| %>
           
              
              <p class="lv2btn"><%= c.name %> (<%= c.posttools.count %>)  </p>
              
                <div class="lv2body">
                 
                  <% $tools.where(category_id: c.id).each do |t| %>
                    <p class="lv2btn"><%= link_to"●#{t.name}", tool_path(t.id) %> (<%=t.posttools.count %>) </p>
                  <% end %>
	              </div>

            
            <% end %>
            
            </div>
            
            </div> 
            
            <% end %>
          </div>
          </div>
          </div>
          </div>


      
  
 
  
    
       
        
    <!--コンテンツ中央-->

    <div id="index">
        
        <%= yield %>
        
    
      
    </div>



   <!--ユーザー情報と最近のコメント-->
   
   <div id="user_recentcomment">
       
         <!--ユーザー情報の表示-->
    
    
    <div id="user">
    
        
          <!--サインインしている場合-->
         <% if user_signed_in? %>
         
         
          
          <!--ユーザーアバターの表示-->
            <% if current_user.avatar_file_name%>
                <div class="user_image clearfix"><%= image_tag current_user.avatar ,:class => "your_icon_image" %></div>
            <%else%>
                <div class="user_image clearfix"><%= image_tag "/images/neko_free.jpg" ,:class => "anonimous_image" %></div>
            
            <%end%>
            
            
            <h5 style="text-align: right;"><%= current_user.nickname %><span >さん</span></h5>
            
            <h5 style="text-align: right;"><span >投稿記事数：</span><%= current_user.posts.count %></h5>
            
            <h5 style="text-align: right;"><span >もらったいいね！の数：</span><%= $likes.where(post_id:current_user.posts.ids).count %></h5>
            
            
            
              <div class="user_nav">
                <span>
                  
                 
                <p>メニュー▼</p> 
                 <ul  style="text-align: right; list-style:none;">
                   <li>
                     <%= current_user.nickname %>
                   </li>
                   <li>
                     <a href="/users/<%= current_user.id %>">マイページ</a>
                   </li>
                   <li>
                     <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                   </li>
                   
                   <li>   <a class="post" href="/posts/new">投稿する！</a>
                   </li>
                   
                   <li>   <a class="tool" href="/tools/new">ツールをつくる</a>
                   </li>
                   
                   <li>   <a class="tool" href="/categories/new">カテゴリーをつくる</a>
                   </li>
                   
                   <li>   <a class="tool" href="/users/<%= current_user.id %>/series_new">自分の投稿シリーズをつくる</a>
                   
                   </li>
                   
                    <% if current_user.id == User.find(1).id %>
                       <li>   <a class="tool" href="/oyacategories/new">親カテゴリーをつくる</a>
                       </li>
                    
                    <% end %>
                   
                 </ul>
                </span>
                
       
                   
              </div>
              
             
            
            <!--ユーザーがサインインしていない場合-->
            
            <% else %>
                <div class="user_nav grid-6">
                  <ul>
                    <li><%= link_to "ログイン", new_user_session_path, class:  'post' %></li>
                    <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
                    <li><%= link_to "twitterアカウントでログイン", user_twitter_omniauth_authorize_path, class: 'post' %></li>
                  </ul>
                </div>
            
            <% end %>
        
        </div>
        
        
    


    <!--最近コメントのあった投稿-->

 
    
  </div>



 
    
    
        
        
    
  <footer>
      <br><br><br><br>
      
    <p style="text-align:center">
      Copyright noby 2018.
    </p>
    
 
  </footer>

  

</body>


</html>
